@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* float---------------------------------------- */

.box-float-text {
  float: left;
  width: 225px;
  box-sizing: border-box;
  font-size: 16px;
}

.box-float-text-left {
  margin-right: 50px;
}

/* table---------------------------------------- */

.table-content {
  display: table-cell;
  vertical-align: middle;
}

.table-content-text {
  box-sizing: border-box;
  width: 225px;
}

.table-content-left .table-content-text {
  margin-right: 50px;
}

/* inline-block--------------------------------- */

.box-inlineblock {
  font-size: 0;
}

.box-inlineblock-text {
  font-size: 16px;
  display: inline-block;
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
}

.box-inlineblock-text-left {
  margin-right: 50px;
}

/* flex----------------------------------------- */

.box-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.box-flex-text{
  width: 225px;
  box-sizing: border-box;
}

/* inline-blockとmargin-------------------------- */

.box-margin {
  font-size: 0;
  /* display: flex;
  align-items: flex-start; */
}

.margin-content {
  display: inline-block;
  vertical-align: top;
}

.margin-content-left {
  width: 300px;
  /* width: 300px;
  margin-right: 50px; */
}

.margin-content-right{
  box-sizing: border-box;
  margin-left: -300px;
  padding-left: 350px;
  width: 100%;
  /* flex: 1; */
}

.margin-content-text {
  font-size: 16px;
}

/* 回答はここに書いてね */
