@charset "UTF-8";

/* 回答はここに書いてね */

.comment {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.comment::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -50px;
  left: 40px;
  border: 25px solid transparent;
  border-top: 25px solid #222;
}

.comment::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -42px;
  left: 40px;
  border: 25px solid transparent;
  border-top: 25px solid #fff;
  z-index: 2;
}

.comment-content {
  padding: 20px;
  box-sizing: border-box;
  border: 5px solid #222;
  border-radius: 30px;
}

.comment-text {
  font: 16px;
  line-height: 16px;
  word-break: break-all;
}

/* 回答はここに書いてね */
