@charset "UTF-8";

/* 回答はここに書いてね */

.img-content {
  width: 500px;
  height: 333px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.img-box {
  transition: 0.5s;
}

.img {
  vertical-align: bottom;
}

.img-text {
  padding: 20px;
  transition: 0.5s;
  background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0, 0, 0, 0));
  position: absolute;
  left: 0;
  bottom: -100%;
}

.img-text-inner {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #fff;
  word-break: break-all;
}

.img-content:hover .img-box {
  transform: scale(1.5);
}

.img-content:hover .img-text {
  bottom: 0;
  display: inline-block;
}

.circle-animation {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.circle {
  width: 100px;
  height: 100px;
  border: 10px solid #ecf1f2;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #00bcd4;
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 回答はここに書いてね */
